body {
    overflow-x: hidden;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 200px;
    display: none;
    background-color: #fbee64;
}
.no-gutters {
    margin: 0;
}
.blue {
    background-color: #0026ff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
.black {
    background-color: #000000;
}
.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

nav {
    flex-shrink: 0;
}
.green {
    background-color: #4e9a11;
    height: 100%;
    min-height: calc(100vh - 200px);
    display: none;
}


@media screen and (min-width: 480px) {

    header, .green {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    header, .green {
        display: block;
    }
    .navbar {
        display: none;
    }
}