body {
    overflow-x: hidden;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-nav {
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    
}


.small-nav-bg {
    background-color: #F0FBFF;
    border-bottom: 3px solid #2B3960;
    color:#2B3960;
}

.small-nav-title {
    font-size: 30px;
    margin-bottom: 0;
}

.navbar-expand-lg {
    font-size: 20px;
}

header {
    height: 200px;
    display: none;
    background-image: url(../images/header.png);
    background-size: auto;
    background-repeat: no-repeat;
    border-bottom: 3px solid #2B3960;
    float: left;
}

.header-visual {
    height: 200px;
    z-index: 2;
}
.no-gutters {
    margin: 0;
}
.footer {
    background-color: #2B3960;
    width: 100%;
    padding: 0;
    color: #E8B272;
    font-size: 30px;
}
.right-section {
    background-color: #FFFFFF;
}
.big-screens-nav {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.logo {
    width: 100%;
    height: auto;
}

.big-nav {
    background-color: #F0FBFF;
    height: 100%;
    min-height: calc(100vh - 200px);
    display: none;
    color:#2B3960;
    border-right: 3px solid #2B3960; 
    font-size: 30px;
}

.nav-font, .btn-signup {
    text-transform: capitalize;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big-nav a {
    color:#2B3960;
    
}

.big-nav a:hover {
    color:#E8B272;
}

.main-content {
    padding: 10px;
}
.card-img-top {
    max-width: 160px;
}

.article-link {
    color: #2B3960;
    text-decoration: none;
}
.article-link:hover {
    color: #E8B272;
}
.card-body, .signup-body {
    border: 3px solid #2B3960;
    border-radius: 10px;
    padding: 5px;
}
.card-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
}
.author {
    font-weight: 900;
}
.article-post, .commenting, .signup-body {
    background-color: #F0FBFF;
}

.page-link, .btn-signup {
    background-color: #F0FBFF;
    color: #2B3960;
    border: 3px solid #2B3960;
    border-radius: 10px;
}

.page-link:hover, .btn-signup:hover {
    background-color: #2B3960;
    border: 3px solid #E8B272;
    color: #E8B272;
}

.card {
    --bs-card-border-width: none;
}
.no-margin-left {
    margin-left: 0;
}
.article-image {
    height: 150px;
    width: auto;
}
.text-created {
    top: 120px;
    vertical-align: middle;
}

.text-separator {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    color: #2B3960;   
}

.comments {
    margin-top: 10px;
    margin-left: 0;
}

.comment-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
}
.text-separator-comments {
    width: 50%; 
    margin-top: 10px;
}
.commenting {
    border-top: 2px solid #2B3960;
    padding-top: 10px;
}

.dropdown-menu {
    --bs-dropdown-min-width: 150px;
    text-align: center;
}

.profile {
    align-content: center;
}

.hidden {
    display: none;
}

.link, .signin-form a {
    text-decoration: none;
    color: #E8B272;
}

@media screen and (min-width: 480px) {

    header, .big-nav {
        display: none;
    }
    .signup-body {
        font-size: 12px;
    }
}
@media screen and (min-width: 768px) {
    header, .big-nav {
        display: block;
    }
    .navbar {
        display: none;
    }
    .article-image {
        height: 300px;
    }
    .commenting {
        border-left: 2px solid #2B3960;
        border-top: none;
    }
}

@media screen and (max-width: 800px) {
    .right-section {
        display: none;
    } 
    .card-text {
        font-size: 10px;
    }
    .fullview-small {
        width: 95vw;
    }
}
