{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container card-body blue-border no-margin-left white-background-2">
    <div class="row">
        <div class="col-md-4 col-s-12">
            <img src="{% static 'images/tennisballs.png' %}" class="card-img-top booking-image blue-border" alt="tennisballs">
        </div>
        <div class="col-md-8 col-s-12 nav-font">
            <h1>The Racket Club</h1>
            <article class="content-text darkblue">
                {{ content.content|safe }}
            </article>
        </div>
    </div>
</div>
{% endblock %}