{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container card-body blue-border article-post no-margin-left white-background-2">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/contact.png' %}" class="card-img-top booking-image blue-border" alt="tennisballs">
        </div>
        <div class="col-md-8 col-s-12 col-xs-12">
            <h1 class="nav-font">Contact us!</h1>
            <p class="content-text">
                If you have any questions, please fill in the form below.
            </p>
            <form action="/contact/" method="post" class="content-text">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper content-text">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-signup right blue-border" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}