{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container card-body blue-border no-margin-left article-post white-background-2">
    <h1 class="nav-font">Delete Booking</h1>
    <p class="content-text darkblue">Are you sure you want to delete this booking?</p>
    <p class="content-text darkblue"><strong>Court Type:</strong><br> {{ booking.court_type }}</p>
    <p class="content-text darkblue"><strong>Date: </strong><br>{{ booking.date }}</p>
    <p class="content-text darkblue"><strong>Time: </strong><br>{{ booking.start_time.start_time }} - {{ booking.end_time.end_time }}</p>
    <form method="POST" action="{% url 'delete_booking' booking.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg blue-border">Confirm Deletion</button>
        <a href="{% url 'my_bookings' %}"><button class="btn btn-lg blue-border btn-big-delete nav-font darkblue">Cancel</button></a>
    </form>
</div>
{% endblock %}
