{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>Select a Date and Time for Booking</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="booking-date">Pick a Date:</label>
        <input type="date" id="booking-date" name="booking-date" min="{{ current_date }}" max="{{ max_future_date }}" required>
    </div>
    
    <div class="form-group">
        <label for="booking-time">Pick a Start Time:</label>
        <select name="booking-time" id="booking-time">
            {% for time in available_times %}
                <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        {{ form.duration.label_tag }} {{ form.duration }}
    </div>

    <button type="submit">Book Now</button>
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



{% endblock %}