{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container card-body no-margin-left article-post">
    <div class="row">
        <div class="col-md-6 col-s-12">
            <article class="about-text">
            {{ content.content|safe }}
            </article>
            <a href="{% url 'booking_view' %}"><button class="btn btn-signup btn-lg">Book Now</button></a>
        </div>
        <div class="col-md-6 booking-image">
            <img src="{% static 'images/rules.png' %}" class="card-img-top" alt="Rules">
        </div>
    </div>
</div>
{% endblock %}
