{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container card-body blue-border no-margin-left white-background-2">
    <div class="row">
        <div class="col-md-6 col-s-12">
            <h1 class="nav-font">Rules on our courts</h1>
            <article class="content-text">
            {{ content.content|safe }}
            </article>
            <button class="btn btn-signup btn-lg blue-border" 
            onclick="window.location.href='{% url 'booking_view' %}';">Book Now</button>
        </div>
        <div class="col-md-6 booking-image">
            <img src="{% static 'images/rules.png' %}" class="card-img-top blue-border" alt="Rules">
        </div>
    </div>
</div>
{% endblock %}
