{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container card-body blue-border no-margin-left white-background-2">
    <div class="row">
        <div class="col-md-4 col-s-12">
            <img src="{% static 'images/success.png' %}" class="card-img-top blue-border" alt="tennisballs">
        </div>
        <div class="col-md-8 col-s-12 nav-font">
            <h1>Success!</h1>
            <p class="content-text">
                Thank you for your mail!<br>
                We will look at your mail as soon as possible.
            </p>
        </div>
    </div>
</div>
{% endblock %}