{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container card-body no-margin-left article-post">
    <div class="row">
        <div class="col-md-4 col-s-12">
            <img src="{% static 'images/success.png' %}" class="card-img-top" alt="tennisballs">
        </div>
        <div class="col-md-8 col-s-12">
            <h1 class"title">Success!</h1>
            <p class="about-text">
                Thank you for your mail!<br>
                We will look at your mail as soon as possible.
            </p>
        </div>
    </div>
</div>
{% endblock %}