body {
    overflow-x: hidden;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.no-gutters {
    margin: 0;
}
.footer {
    background-color: #2B3960;
    width: 100%;
    padding: 0;
    color: #E8B272;
    font-size: 30px;
}

header {
    height: 200px;
    display: none;
    background-image: url("../images/header.d051fc8b9045.png");
    background-size: auto;
    background-repeat: no-repeat;
    border-bottom: 3px solid #2B3960;
    float: left;
}

.header-visual {
    height: 200px;
    z-index: 2;
}

.right-section {
    background-color: #FFFFFF;
}

.no-margin-left {
    margin-left: 0;
}

.hidden {
    display: none;
}

.form-label {
    display: none;
}

.main-content {
    padding: 10px;
}

/* ------------------------------------------------------------------------ Navigation bar */

.logo {
    width: 100%;
    height: auto;
}

.container-nav {
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
}

.small-nav-bg {
    background-color: #F0FBFF;
    border-bottom: 3px solid #2B3960;
    color:#2B3960;
}

.small-nav-title {
    font-size: 30px;
    margin-bottom: 0;
}

.navbar-expand-lg {
    font-size: 20px;
}

.big-screens-nav {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.big-nav {
    background-color: #F0FBFF;
    height: 100%;
    min-height: calc(100vh - 200px);
    display: none;
    color:#2B3960;
    border-right: 3px solid #2B3960; 
    font-size: 30px;
}

.dropdown-menu {
    --bs-dropdown-min-width: 150px;
    text-align: center;
}

.profile {
    align-content: center;
}

/* ------------------------------------------------------------------------ Article cards */

.card {
    --bs-card-border-width: none;
}

.card-img-top-small, .card-img-top  {
    border: 3px solid #2B3960;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-img-top-small {
    max-width: 160px;
}

.card-img-top {
    max-width: 400px;
    margin-top: 15px;
}


.card-body, .signup-body {
    border: 3px solid #2B3960;
    border-radius: 10px;
    padding: 5px;
}
.card-text, .slice-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
}

.slice-text, a:has(.slice-text) {
    margin-top: 5px;
    text-decoration: none;
    color: #2B3960;
}

.text-left {
    text-align: left;
}

.author {
    font-weight: 700;
}

.article-post, .commenting, .signup-body {
    background-color: #F0FBFF;
}

.text-created {
    top: 120px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------ Buttons */

.article-link {
    color: #2B3960;
    text-decoration: none;
}
.article-link:hover {
    color: #E8B272;
}

.page-link, .btn-signup {
    background-color: #F0FBFF;
    color: #2B3960;
    border: 3px solid #2B3960;
    border-radius: 10px;
}

.page-link:hover, .btn-signup:hover {
    background-color: #2B3960;
    border: 3px solid #E8B272;
    color: #E8B272;
}

.btn-delete, .btn-edit {
    border: 1px solid #2B3960;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
}

.btn-edit:hover {
    border: 1px solid #E8B272;
    background-color: #2B3960;
    color: #E8B272;
}

.btn-delete:hover {
    border: 1px solid #602b2b;
    color: #602b2b;
    background-color: #d15151;
}

.nav-font, .btn-signup {
    text-transform: capitalize;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big-nav a, .author {
    color:#2B3960;   
}

.big-nav a:hover {
    color:#E8B272;
}

.link, .signin-form a {
    text-decoration: none;
    color: #E8B272;
}

/* ------------------------------------------------------------------------ Horizontal lines */

.text-separator, .text-separator-img, .text-separator-reset {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    color: #2B3960;   
}
.text-separator-img, .text-separator-reset {
    margin-top: 10px;
}
/* ------------------------------------------------------------------------ Comments on article */
.comments {
    margin-top: 10px;
    margin-left: 0;
}

.comment-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 10px;
}

.text-separator-comments {
    width: 50%; 
    margin-top: 10px;
}

.commenting {
    border-top: 2px solid #2B3960;
    padding-top: 10px;
}

.font-weight-normal {
    text-transform: none;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
}

#deleteCommentContent {
    background-color: #E8B272;
}

.signout-text {
    font-family: "Raleway", sans-serif;
    text-transform: none;
}

@media screen and (min-width: 480px) {

    header, .big-nav {
        display: none;
    }
    .signup-body {
        font-size: 12px;
    }
}
@media screen and (min-width: 768px) {
    header, .big-nav {
        display: block;
    }
    .navbar {
        display: none;
    }
    .article-image {
        height: 300px;
    }
    .commenting {
        border-left: 2px solid #2B3960;
        border-top: none;
    }
}

@media screen and (max-width: 800px) {
    .right-section {
        display: none;
    } 
    .card-text {
        font-size: 10px;
    }
    .fullview-small {
        width: 95vw;
    }
}
